body {
    font-family:'Roboto',sans-serif;
    background: linear-gradient(135deg,#111,#222);
    text-align: center;
    padding:40px; /* add breathing room around edges */
}

h1{
    margin-bottom: 30px; /* space below heading */
    color: whitesmoke;   
}

p{
    margin: 0 auto; /* center */
    font-size: 18px; 
    line-height: 1.4;
    color: grey ;
    font-weight: 400;
}

h2{
    margin-bottom: 30px; /* space below */
    color: whitesmoke; 
}

/* container: 3*3 grid */
.pad-container{
    display:grid;
    grid-template-columns: repeat(3,120px); /* create 3 columns */
    grid-template-rows: repeat(3,120px); /* create 3 rows */
    justify-content: center;
    gap:10px; /* space between grid items */
}

/* indiv styling */
.pad{
    width: 120px;
    height: 120px;
    background: #ADD8E6;
    border-radius: 10px; /* rounded corners */
    display: flex; /* flex box for centering content */
    flex-direction: column; /* stacks content vertically */
    justify-content: center; /* centers content vertically */
    cursor: pointer; /* shows hand cursor */
    align-items: center;
    /* user-select: none; */
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 18px;
    box-shadow: insert 0 0 0 2px #555;
}

/* container: change appearance when mouse is over the pad */
.pad:hover{
    background: #444;
    cursor: pointer;
}

/* container: pad triggered */
.pad.active {
    background: #ff9800;
    transform: scale(0.95); /* pressed effect */
}

.config-mode {
    border: 3px solid red;
    transform: scale(1.05); /* red border bold */
}

.config {
    color: black;
    border-radius: 5px;
    font-size: 20px; /* size button */
    cursor: pointer;
    margin-top: 8px;
    width: 40px;
    height: 40px;
}

